@charset "UTF-8";

.grid_padding_match {padding:0 10px;} /* Match list item padding for normal content */

#grid {
    list-style-type:none;
    padding:20px 0 100px;
}

#grid li {
    float:left;
    width:33.333%;
    padding:10px;   
}

.grid_shadow {
    width:100%;
    height:100%;
    box-shadow:5px 5px 10px rgba(165,165,165,0.4);
}

.grid_wrapper {
    display:block;
    position:relative;
    width:100%;
    overflow:hidden !important;
    /* Text */
    text-decoration:none;
}

.grid_image {position:relative;}

.grid_image::after {
    position:absolute;
    top:0; left:0;
    background:rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden;
    content:'';
    -webkit-transition:opacity    0.3s ease-in-out,
                       visibility 0.3s ease-in-out;
    	    transition:opacity    0.3s ease-in-out,
    	               visibility 0.3s ease-in-out;
}
.no-touch .grid_wrapper:hover .grid_image::after {
    opacity:1;
    visibility:visible;
}

.grid_image img {
    background-color:rgb(225,24,55);
    width:100%;
    height:auto;
    padding-bottom:72px;
}

.grid_info {
    position:absolute;
    background-color:rgba(225,24,55,0.9);
    width:100%;
    height:72px;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    -webkit-backface-visibility:hidden;
    -webkit-transform:translate3d(0,-72px,0);
    	    transform:translate3d(0,-72px,0);
    -webkit-transition:-webkit-transform 0.3s ease-in-out, 
                       height            0.3s ease-in-out;
    	    transition:transform         0.3s ease-in-out, 
    	               height            0.3s ease-in-out;
}
.no-csstransforms3d .grid_info {
    -ms-transform:translate(0,-72px);
        transform:translate(0,-72px);
}

.no-touch .grid_wrapper:hover .grid_info {
    height:100%;
    -webkit-transition:-webkit-transform 0.3s 0.1s ease-in-out, 
                       height            0s        ease-in-out;
    	    transition:transform         0s   0.1s ease-in-out, 
    	               height            0.3s      ease-in-out;
    -webkit-transform:translate3d(0,-80%,0);
    	    transform:translate3d(0,-80%,0);
}
.no-csstransforms3d .grid_wrapper:hover .grid_info {
    -ms-transform:translate(0,-100%);
        transform:translate(0,-100%);
}


/* RESPONSIVE ADJUSTMENTS */

@media only screen 
and (max-width : 959px) {

    .no-touch .grid_wrapper:hover .grid_info {
        -webkit-transform:translate3d(0,-100%,0);
        	    transform:translate3d(0,-100%,0);
    }
    
}

@media only screen 
and (max-width : 883px) {
    
    .no-touch .grid_wrapper:hover .grid_info {
        -webkit-transform:translate3d(0,-90%,0);
        	    transform:translate3d(0,-90%,0);
    }

}

@media only screen 
and (max-width : 747px) {
    
    .grid_padding_match {padding:0 !important;}
    
    #grid {padding-bottom:50px;}
    
    #grid li {
        float:none;
        clear:both;
        width:100%;
        padding:0 0 20px;   
    }
    
    .grid_wrapper {background-color:rgb(225,24,55);}
    
    .grid_image {
        float:left;
        width:200px;
        height:200px;
    }
    
    .grid_image::before {
        z-index:2;
        position:absolute;
        top:0; bottom:0; left:0; right:0;
        width:0;
        height:0;
        border-top:   28px solid transparent;
    	border-bottom:28px solid transparent;
    	border-left:  34px solid rgba(255,255,255,0.9);
    	margin:auto;
        content:'';
    }
    
    .grid_image::after {
        background:rgba(0,0,0,0.15);
        opacity:1;
        visibility:visible;
        min-height:200px;
    }
    
    .grid_image img {min-height:140px;}
    
    .grid_info {
        position:relative;
        float:left;
        background-color:transparent;
        width:55%;
        height:100%;
        -webkit-transform:translate3d(0,0,0) !important;
    	        transform:translate3d(0,0,0) !important;
    }
    .no-csstransforms3d .grid_info {   
            -ms-transform:translate(0,0) !important;
        	    transform:translate(0,0) !important;
    }
    
}

@media only screen 
and (max-width : 531px) {

    .grid_wrapper {height:140px;}
    
    .grid_image {
        width:140px;
        height:140px;
    }
    
    .grid_image::before {
        top:12px;
        border-top-width:20px;
    	border-bottom-width:20px;
    	border-left-width:26px;
    }
    
    .grid_info {display:table;}
    
    .grid_info > h3 {
        display:table-cell; 
        vertical-align:middle; 
        text-align:center; 
    }
    
    .grid_text {display:none;}
    
}

@media only screen 
and (max-width : 340px) {
    
    .grid_wrapper {height:120px;}
    
    .grid_image {
        width:120px;
        height:120px;
    }

}